.wrapper {
    background-color: #432275;
    border-radius: 8px;
    padding-top: 8px;

    &.default {
        box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
        width: 240px;
    }

    &.search {
        width: 540px;
        margin-top: -10px;
        border-radius: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        max-height: calc(100vh - 200px);
        overflow: scroll;
    }
}
