.wrapper {
    display: flex;
    flex-direction: column;
    .menu-item {
        padding-bottom: 10px;
        border-bottom: 1px solid var(--primary-color-player);
        li {
            padding: 10px 20px 12px 17px;
            display: flex;
            align-items: center;
            gap: 12px;
            color: var(--white-color);
            font-size: 1.6rem;
            font-weight: 300;
            cursor: pointer;

            .icon {
                font-size: 2rem;
                opacity: 0.8;
            }

            &:hover {
                background-color: var(--primary-color-player);
            }
        }
    }

    .menu-implement {
        padding-top: 10px;
        opacity: 0.6;
        a {
            padding: 10px 20px 12px 17px;
            display: flex;
            align-items: center;
            gap: 12px;
            color: var(--white-color);
            font-size: 1.6rem;
            font-weight: 300;
            cursor: pointer;

            .icon {
                font-size: 2rem;
            }

            &:hover {
                background-color: var(--primary-color-player);
            }

            span {
                color: var(--white-color);
            }
        }
    }
}
