.week-chart-wrapper {
    background-color: transparent;
    height: 100%;
    margin: 0 -42px;

    background: url('https://zjs.zmdcdn.me/zmp3-desktop/releases/v1.6.34/static/media/week-chart-bg.edf332e5.jpg') 50% /
        cover no-repeat;

    .week-chart-alpha {
        width: 100%;
        height: 100%;
        background-color: rgba(23, 15, 35, 0.9);
        padding: 30px 50px 0;
        display: flex;
        flex-direction: column;
        gap: 40px;

        .week-chart-header {
            margin-top: 20px;
            font-size: 4rem;
            font-weight: 800;
            display: flex;
            align-items: center;
            gap: 8px;

            .icon-play {
                background-image: radial-gradient(at center, #fff 40%, transparent 0);
                color: #7200a1;
                width: 46px;
                height: 46px;

                &:hover {
                    filter: brightness(0.9);
                }
            }
        }

        .category-box {
            display: flex;
            gap: 36px;
            font-size: 2.4rem;
            font-weight: 700;
            align-items: center;

            .category-item {
                position: relative;
                padding: 15px 0;
                opacity: 0.8;

                &.active {
                    opacity: 1;
                }

                &:hover {
                    opacity: 1;
                    color: var(--white-color);
                }

                &.active::after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                    top: 100%;
                    border-bottom: 3px solid #7200a1;
                }
            }
        }
    }
}
